@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    
    --background: #f1f1e6;
    --background-darker: #d6d6cf;
    --primary: #021526;

    --accent_1: #feba3e;
    --accent_1_darker: #e2a739;
    --accent_2: #0099ff;
    --accent_3: #03346E;

    --text-color_1: white;
    --text-color_2: black;

}

*{

    margin: 0;
    padding: 0;
    font-family: "Raleway", Arial, Helvetica, sans-serif;

}

body{
    background-color: var(--background);
}

body::-webkit-scrollbar{
    width: .7em;
}

body::-webkit-scrollbar-track{
    background-color: var(--background-darker);
}

body::-webkit-scrollbar-thumb{
    background-color: #8d8d8a;
    border-radius: 1em;
}

body::-webkit-scrollbar-thumb:hover{
    background-color: #595958;
}

hr{
    border: 1;

    width: calc(100% - 6em);
    margin-left: 3em;

    margin-top: 1.5em;
    margin-bottom: 1.5em;

}

.navbar{
    background-color: var(--primary);
    height: 5em;
    padding-left: 1em;
    padding-right: 1em;
    width: calc(100% - 2em);
    position: sticky;
    top: 0;

    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1{
    color: var(--text-color_1);
}

.navbar .menu{
    width: 10em;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.primary{
    background-color: var(--accent_1);
    border: none;
    color: var(--text-color_1);
    font-weight: bold;

    padding: 1em;
    border-radius: 1em;

    height: fit-content;

    transition: 200ms;
}

.primary:hover{
    background-color: var(--accent_1_darker);
    transform: scale(1.2);
    cursor: pointer;
    transition: 200ms;

}

.secondary{
    background-color: transparent;
    border: none;
    color: var(--text-color_1);

    padding: .6em;
    border-radius: 1em;

    height: fit-content;

    transition: 200ms;

}

.secondary:hover{
    background-color: white;
    color: var(--secondary);
    transform: scale(1.1);
    cursor: pointer;
    transition: 200ms;

}

.banner{
    background-image: url("../images/money.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    height: 20em;
}

.banner .title{
    backdrop-filter: blur(.3em);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner .title h1{

    color: var(--text-color_1);
    font-size: 4em;
    text-align: center;
}

.banner .title h2{
    color: var(--text-color_1);
    font-size: 2em;
    text-align: center;
}

.text{

    height: fit-content;
    width: 100%;

    text-align: center;

    padding-bottom: 1em;

    margin-top: 1em;
    margin-bottom: 1em;

}

.text h1{
    font-size: 4em;
    margin-top: 1em;
    
    color: var(--text-color_2);
}

.text p{
    font-size: 1.5em;
    margin-top: 1em;

    color: var(--text-color_2);
}

.values{

    display: flex;
    justify-content: space-evenly;

    width: 100%;
    margin-bottom: 3em;

}

.values .card{

    height: fit-content;
    width: 15em;

    border-radius: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.values .card .icon{

    height: 6em;
    width: 6em;

    margin-top: 1em;
    margin-bottom: 1em;

    background-color: var(--accent_3);
    padding: 1em;
    border-radius: 10em;

    display: flex;
    justify-content: center;
    align-items: center;

}
.values .card .icon svg{

    height: 5em;
    width: 5em;

    fill: white;

}

.values .card h1{

    text-align: center;
    font-size: 1.3em;

    color: var(--text-color_2);

}

.footer{
    height: 5em;

    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary);
    
    color: var(--text-color_1);
}

/* Classes da responsividade */
.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

}
  
/* 2xl */
@media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }
}
  
/* xl */
@media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }
}
  
/* lg */
@media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
}
  
/* md */
@media (max-width: 768px) {
    .container {
      max-width: 640px;
    }
}
  
/* sm */
@media (max-width: 640px) {
    .container {
      max-width: 475px;
    }
}
  
/* xs */
@media (max-width: 475px) {
    .container {
      width: 100%;
    }

    .banner .menu h1{
        font-size: 1em;
    }

    .banner .menu h2{
        font-size: .5em;
    }

    .text h1{
        font-size: 1.9em;
    }
    
    .text p{
        font-size: .9em;
    }

    .values .card .icon{
        width: 3em;
        height: 3em;
    }

    .values .card h1{
        font-size: .9em;
    }

    .navbar, .footer, .banner{
        width: 100%;
    }
}